.ext-custom-search-result-bordered-result {
  /* border color picked from GiveFreely website */
  border: 3px solid #bde7b8;
  display: block;
  border-radius: 8px;
  padding: 8px;

  /* position: relative; */
  /* animation: rotateBorder 4s linear infinite; */
}

/* 
PLAYING WITH THE IDEA OF ROTATING BORDER 
*/
/* .ext-custom-search-result-bordered-result::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid transparent; 
  border-radius: 50%; 
  animation: rotateBorder 4s linear infinite; 
}

@keyframes rotateBorder {
  from {
    border-color: red;
    transform: rotate(0deg);
  }
  to {
    border-color: blue;
    transform: rotate(360deg); 
  }
} */
